@font-face{
	font-family: "Museo 500";
	src: url(../fonts/Museo-500.otf);
}

@font-face{
	font-family: "Museo 300";
	src: url(../Fonts/Museo-300.otf);
}

body, html{
	height: 100%;
	width: 100%;
	margin: 0px;
	
}

div.cover{
	position: absolute;
	width: 100%;
	height: 100%;

	background-color: #000;
	z-index: 2;
	display: none;
	opacity: 0;
	transition: opacity 1s;
}

	div.cover.expanded{
		opacity: 0.5;
		display: block;
	}

nav{
	height: 100%;
	position: absolute;
	background: white;
	width: calc(100% - 50px);
	left: calc(-100% - 50px);
	transition: left 1s;
	
}

	nav.expanded{
		left: 0px;
	}

	nav input.search{
		width: calc(100% - 30px);
		height: 30px;
		outline: none;
		margin: 10px;
		border: 0px;
		border-radius: 8px;
		padding: 5px;
		font-size: 16px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}

	nav ul{
		font-family: Open Sans, sans-serif;
		font-size: 16px;
		font-weight: 300;
		padding: 0px;
		margin: 0px;
	}

		nav ul li{
			list-style: none;
			padding-left: 15px;
			margin-bottom: 1px;
			background-color: red;
		
			height: 40px;
			line-height: 40px;
}

	nav ul.presets{
		
	}

		nav ul.presets li{

		}

	nav div.line{
		width: calc(100% - 20px);
		margin: 5px 10px;
		border-bottom: 1px solid;
	}

	nav ul.notebooks{

	}

		nav ul.notebooks li{

		}
div.evrthng{
	background-color: #EEEEEE;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

header{
	background-color: transparent;
	height: 50px;
	width: 100%;
	/*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}

	header button{
		background-color: transparent;
		outline: none;
		cursor: pointer;
		width: 40px;
		height: 40px;
		margin: 5px;
		border: 0px;
	}

		header button span{
			
		}

	header h1{
		float: right;
		width: 50%;
		margin: 0px 15px;
		line-height: 50px;
		text-align: right;
		font-size: 16pt;
		font-family: Open Sans, sans-serif;
	}

div.rest{
	
}

	div.rest div.new-page{
		background-color: #fff;
		background-image: url(../Images/paper_texture.png);
		width: calc(100% - 10px);
		min-height: 50px;
		margin: 15px 5px;
		border-radius: 5px;
		cursor: pointer;
		transition: min-height 1s;
		position: relative;
		overflow-y: auto;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}

		div.rest div.new-page textarea{
			width: calc(100% - 17px);
			height: calc(100% - 47px);
			top: 5px;
			left: 5px;
			position: absolute;
			background: transparent;
			border: none;
			outline: none;
			resize: none;
			font-family: Open Sans, sans-serif;
			opacity: 0;
		}

		div.rest div.new-page button{
			background: transparent;
			border: none;
			position: absolute;
			bottom: 5px;
			opacity: 0;
			transition: opacity 1s;
		}

			div.rest div.new-page button.scratch{
				left: 5px;
				color: #e0e0e0;
				outline: none;
			}

				div.rest div.new-page button.scratch:active{
					color: #eee;
				}

			div.rest div.new-page button.done{
				background-color: #e0e0e0;
				font-weight: 400;
				padding: 5px;
				border-radius: 5px;
				float: right;
				right: 5px;
				outline: none;
			}

				div.rest div.new-page button.done:active{
					background-color: #eee;
				}

		div.rest div.new-page.expanded{
			
			min-height: 200px;
			cursor: text;
		}

			div.rest div.new-page.expanded button, div.rest div.new-page.expanded textarea{
				opacity: 1;
			}

		div.rest div.new-page span.ghost-span{
			display: block;
			text-align: center;
			line-height: 50px;
			opacity: 1;
			transition: opacity 1s;
		}

			div.rest div.new-page.expanded span.ghost-span{
				opacity: 0;
			}

div.rest section.collection{
	background-color: grey;
}

	div.rest section.collection article{
		background-image: url(../Images/paper_texture.png);
		background-color: white;
		border: 1px solid;
		border-color: #e0e0e0;
		margin: 5px;
		border-radius: 5px;
		padding: 15px;
		float: left;
		font-family: Open Sans, sans-serif;
		font-weight: 300;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}

		div.rest section.collection article.layout-half{
			width: calc(50% - 42px);
		}

		div.rest section.collection article.layout-entire-w{
			width: calc(100% - 42px);
		}

	
